todolist.txt
reminderlist.txt
*.bak
jarviscli/packages/memory/memory.json
*.egg-info
*.brn
dist/
build/
env/
*.DS_Store
*.pyc
*.log
.idea/
MANIFEST.in
setup.cfg
setup.py
jarvis.bat
jarvis
jarviscli/data/key_timein.json
jarviscli/data/Google_api_key.json
VoterInfo.json
myinfo\.csv
.vscode
