todolist.txt
reminderlist.txt
*.bak
jarviscli/packages/memory/memory.json
*.egg-info
*.brn
dist/
build/
env/
*.DS_Store
*.pyc
*.log
.idea/
MANIFEST.in
setup.cfg
setup.py
jarviscli/packages/ghostdriver.log
npm-debug.log
node_modules/
ghostdriver.log
jarvis.bat
jarvis
jarviscli/data/key_timein.json
myinfo\.csv


\.vscode/
