todolist.txt
reminderlist.txt
*.bak
jarviscli/packages/memory/memory.json
*.egg-info
*.brn
dist/
build/
env/
*.DS_Store
*.pyc
.idea/
MANIFEST.in
setup.cfg
setup.py
jarviscli/packages/ghostdriver.log
npm-debug.log
ghostdriver.log
jarvis
jarviscli/data/key_timein.json
