aiml; python_version <= '2.7'
appdirs==1.4.3
archey4; python_version >= '3.5'
beautifulsoup4==4.5.3
bs4==0.0.1
colorama==0.3.7
cryptography>=1.8.1
eyeD3==0.7.11
flake8
forex-python
funcsigs; python_version <= '2.7'
googletrans
IMDbPY==6.6
instantmusic==2.2
langdetect
mock==2.0.0
nltk
notify2
packaging==16.8
pick
pluginmanager
pycricbuzz
pync==1.6.1
pyowm==2.6.1
pyparsing==2.2.0
pyperclip
PySocks==1.6.6
python-dateutil
pytimeparse
py-translator
pyttsx3
requests[security]==2.13.0
six==1.10.0
SpeechRecognition==3.6.3
sympy
termdown
wikipedia
youtube-dl
https://github.com/appi147/pyaiml3/archive/master.zip ; python_version >= '3.5'
