appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
colorama==0.3.7
eyeD3==0.7.11
gTTS==1.1.8
gTTS-token==1.1.1
youtube-dl==2017.06.05
instantmusic==2.2
lxml==3.7.3
packaging==16.8
pyowm==2.6.1
pyparsing==2.2.0
PySocks==1.6.6
requests==2.13.0
six==1.10.0
SpeechRecognition==3.6.3
pyttsx == 1.1
aiml
python-dateutil
mock==2.0.0