archey4; python_version >= '3.5' and sys_platform != 'darwin'
beautifulsoup4
colorama
distro
flake8
forex-python
funcsigs; python_version <= '2.7'
googletrans
IMDbPY
instantmusic
mock
nltk
pick
pluginmanager
psutil
pycricbuzz
pydoc-markdown
pync==1.6.1; sys_platform == 'darwin'
pypiwin32; sys_platform == 'win32'
pyreadline; sys_platform == 'win32'
python-dateutil
pytimeparse
pyttsx3; sys_platform != 'darwin'
pywin32; sys_platform == 'win32'
requests[security]
six
speedtest-cli
sympy
termdown
wikipedia
windows-curses; sys_platform == 'win32'
