akinator.py
archey4==4.6.0.post1; sys_platform != 'darwin'
beautifulsoup4
colorama
distro
flake8
flask
forex-python
garminconnect
geopy
gitpython
googletrans
gtts
Image
IMDbPY
img2pdf
mock
nltk
opencv-python-headless
pathlib
pdf2image
pdfkit
pick
playsound
pluginmanager
psutil; sys_platform == 'win32'
pycricbuzz
pydoc-markdown
pydub
pyjokes
pync==1.6.1; sys_platform == 'darwin'
pypiwin32; sys_platform == 'win32'
pyreadline; sys_platform == 'win32'
python-dateutil
pytimeparse
pyttsx3 == 2.71; sys_platform != 'darwin'
pywin32; sys_platform == 'win32'
random-word
requests[security]
speedtest-cli
sympy
tabulate
termdown
whois
wikipedia
win10toast; sys_platform == 'win32'
windows-curses; sys_platform == 'win32'
